@layer reset, base, variant, state, component;

@layer reset {
    .spacer {
        all: unset;
    }
}

@layer base {
    .spacer {
        flex-grow: 1;
        flex-basis: 100%;
        min-width: var(--min-width);
        min-height: var(--min-height);
    }
}