@use '@tokens/global.scss' as *;
@layer reset, base, variant, state, component;

@layer reset {
    .input {
        all: unset;
    }
}

@layer base {
    .input {
        color-scheme: light dark;
        
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-shrink: 0;
        box-sizing: border-box;
        cursor: text;

        font-family: $font-family;
        font-size: $font-size-sm;
        line-height: $font-size-sm--line-height;
        gap: $spacing-1;
        padding-inline: $spacing-3;
        border-radius: $radius-md;
        border-style: solid;
        border-width: 0.0625rem;
        border-color: $color-gray-300;

        height: $font-size-sm--line-height + $spacing-4;
    
        outline-style: solid;
        outline-color: transparent;
        outline-offset: 0;
        outline-width: 0;
        transition-property: outline;
        transition-duration: $default-transition-duration;
        transition-timing-function: $transition-timing-function-out;
    }
}

@layer state {
    .input:focus-visible {
        outline-width: 0.125rem;
        outline-offset: 0.125rem;
        outline-color: light-dark($color-gray-950, $color-gray-50)
    }

    .input:disabled,
    .input[aria-disabled="true"] {
        opacity: .4;
        cursor: not-allowed;
    }

    @media (prefers-reduced-motion) {
        .button {
            transition: outline-offset 0.1ms;
        }
    }
}
