@use '@tokens/global.scss' as *;
@layer reset, base, variant, state, component;

@layer reset {
    .list {
        all: unset;
    }
}

@layer base {
    .list {
       list-style: none;

       .list-item {
            background: gray;

            &[aria-selected="true"] {
                background: red;
            }
       }

       &:focus-visible,
       &.pseudo-focus {
        .list-item[data-focused="true"] {
            outline: 2px solid red;
            outline-offset: 1px;
        }
       }
    }
}
