@use '@tokens/global.scss' as *;
@layer reset, base, variant, state, component;

@layer reset {
    .radio-group,
    .item {
        all: unset;
    }
}

@layer base {
    .radio-group {
        color-scheme: light dark;
        display: flex;
        flex-direction: column;
        gap: $spacing-1;
    }
   
    .item {
        overflow: hidden;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        cursor: default;
        position: relative;

        border-radius: 100%;
        border-width: 0.0625rem;
        border-style: solid;
        height: 1rem;
        width: 1rem;

        appearance: none;
        outline-style: solid;
        outline-color: transparent;
        outline-offset: 0;
        outline-width: 0;
        transition-property: background-color, outline;
        transition-duration: $default-transition-duration;
        transition-timing-function: $transition-timing-function-out;
        transition-behavior: allow-discrete;

        color: light-dark($color-gray-950, $color-gray-50);
        background-color: transparent;
    }
}

@layer state {
    .item:checked {
        background-color: light-dark($color-gray-950, $color-gray-50);
        &::after {
            content: '';
            position: absolute;
            box-sizing: border-box;
            border-radius: 0.375em;
            background-color: light-dark($color-gray-50, $color-gray-950);
            rotate: 45deg;
            width: 0.375em;
            height: 0.375em;
        }
    }

    .item:focus-visible {
        outline-width: 0.125rem;
        outline-offset: 0.125rem;
        outline-color: light-dark($color-gray-950, $color-gray-50)
    }
    
    @media (prefers-reduced-motion) {
        .item {
            transition: outline-offset 0.1ms;
        }
    }
}
