@use '@tokens/global.scss' as *;
@layer reset, base, variant, state, component;

@layer reset {
    .card,
    .section {
        all: unset;
    }
}

@layer base {
    .card {
        color-scheme: light dark;

        --safety-margin: #{$spacing-1};
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        font-family: $font-family;
        font-size: $font-size-sm;
        line-height: $font-size-sm--line-height;

        margin-inline-start: calc(-2 * var(--safety-margin));
        margin-inline-end: calc(-2 * var(--safety-margin));
        padding: calc(var(--safety-margin) * 4);
        border-radius: $radius-xl;
        border-color: light-dark($color-gray-300, $color-gray-500);
        border-style: solid;
        border-width: 0.0625rem;
        background-color: light-dark($color-white, $color-gray-950);
    }

    .section {
        --safety-margin: #{$spacing-1};
        box-sizing: border-box;
        display: flex;
    }
}

@layer variant {
    .card {
        &.fill {
            display: flex;
        }
    }
}
