@use '@tokens/global.scss' as *;

@layer reset, base, variant, state, component;

@layer reset {
    .datepicker,
    .date-grid {
        all: unset;
    }
}
@layer base {
    .date-grid {
        border-spacing: $spacing-1;
        display: table;
    }
    .header {
        padding-inline-start: $spacing-3_5;
        padding-inline-end: $spacing-1;
    }
    .hidden {
        opacity: 0;
    }
    .controller {
        width: $spacing-11;
    }
}

@layer component { 
    .button {
        min-width: $spacing-11;
    }
}