@use '@tokens/global.scss' as *;
@layer reset, base, variant, state, component;

@layer reset {
    .flexbox {
        all: unset;
    }
}

@layer base {
    .flexbox {
        box-sizing: border-box;
        display: flex;
    }
}

@layer variant {
    .flexbox {
        &.inline {
            display: inline-flex;
        }
    }
}
