@use '@tokens/global.scss' as *;
@layer reset, base, variant, state, component;

@layer reset {
    .group {
        all: unset;
    }
}

@layer base {
    .group {
        --safety-margin: #{$spacing-1};
        box-sizing: border-box;
        display: inline-flex;
    }
}

@layer variant {
    .group {
        &.fill {
            display: flex;
            flex-grow: 1;
        }
    }
}
